// *.fade-in {
//     transform: translateY(-20%);
//     opacity: 0;
// }

@keyframes fade-in {
    from {
        transform: translateY(-20%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}
