.container--footer {
    width: 90%;
    margin: 5em auto 3em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icons {
        margin: 1.5em 0 2em 0;
    }

    &__icon {
        margin: 0 0.5em;
        transition: filter 500ms ease;

        &:hover {
            cursor: pointer;
            filter: brightness(0);
        }
    }
}

.footer-links {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        text-align: center;
    }

    &__header {
        font-family: $body-font;
        font-weight: 700;
        font-size: 0.75rem;
        text-transform: uppercase;
        color: $neutral-primary-color;
        margin-bottom: 1.5em;
    }

    &__list {
        list-style-type: none;
        margin-bottom: 1.5em;
    }

    &__item {
        margin-bottom: 0.25em;
    }

    &__link {
        @extend .footer-links__header;
        color: black;
        text-decoration: none;
        transition: text-decoration 500ms ease;

        &:hover {
            text-decoration: underline;
        }
    }
}
