.landing {
    background-color: $accent-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__img {
        width: 100vw;
    }

    &__info {
        padding: 6em 0;
        width: 90%;
        color: white;
        text-align: center;
        position: relative;
    }

    &__header {
        margin-bottom: 0.4em;
    }

    &__paragraph {
        margin-bottom: 2em;
    }

    &__btn {
        font-family: $body-font;
        font-size: 1rem;
        font-weight: 700;
        color: white;
        border: 2px solid white;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding: 0.75em 2em;
        transition: background-color 500ms ease, color 500ms ease;

        &:hover {
            color: $neutral-accent-color;
            background-color: white;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__pattern {
        position: absolute;
        width: 8em;

        &--right {
            bottom: -12em;
            right: 0;
        }

        &--left {
            top: 0;
            left: 0;
        }
    }
}
